<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>Index Page</title>
  <link rel="stylesheet" type="text/css" href="/stylesheets/index.css">
</head>
<body>
  <div class="index-container">
    <div class="image-wrapper">
      <img src="/images/logo.png" alt="comar">
    </div>
    <div class="img-wrapper">
      <img src="/images/logo2.png" alt="hayett">
    </div>
    <h1 class="index-heading">Welcome</h1>
    <p class="index-text">Moniteur de Processus Métier</p>
    <a href="/login" class="index-link">Get started</a>
  </div>
</body>
</html>
